{% extends "AcmeBasicCmsBundle::layout.html.twig" %}
{% block title %}
    <h1>{{ post.title }}</h1>
    <p>{% include "AcmeBasicCmsBundle:Default:_tags.html.twig" with {'tags': post.tags} %}</p>
{% endblock %}
{% block content %}
    <div class="cell">
        <div class="col width-2of4">
            <span class="icon icon-32 icon-chevron-sign-left"></span>{% include "AcmeBasicCmsBundle:Default:_postSibling.html.twig" with {'sibling': cmf_prev(post)} %}
        </div>
        <div class="col width-2of4" style="text-align: right">
            {% include "AcmeBasicCmsBundle:Default:_postSibling.html.twig" with {'sibling': cmf_next(post)} %}<span class="icon icon-32 icon-chevron-sign-right">
        </div>
    </div>
    <div class="cell">
        <section class="article">
            <div class="cell">
            {{ post.content|markdown|raw }}
            </div>
            <div class="cell" style="text-align: right">
                <i>Posted on: {{ post.date.format('Y-m-d H:i:s') }}</i>
            </div>
        </section>
        <h2>Comments</h2>
        {% for comment in post.comments %}
        <div class="cell panel">
            <div class="header">
                {{ comment.author|default('Anon.') }} said the following on the {{ comment.createdAt.format('jS F Y at g:i a') }}:
            </div>
            <div class="body">
                <div class="cell">
                    {{ comment.comment|markdown|raw }}
                </div>
            </div>
        </div>
        {% else %}
        <div class="cell">
            <p>No comments yet!</p>
        </div>
        {% endfor %}

        <h3 id="comment">Leave a comment</h3>
        {% set timeout = 7 %}
        {% if days_old > timeout %}
            <div class="cell">
                <p>This post is more than {{ timeout }} days old, comments are closed.</p>
            </div>
        {% else %}
            <div class="cell">
                    {% if not comment_form.vars.valid %}
                    <div class="color-red cell">
                        <div class="col width-fit">
                            <span class="icon icon-warning-sign"></span>
                        </div>
                        <div class="col width-fit">
                            Looks like there are some errors
                        </div>
                    </div>
                    {% endif %}
                    <form action="#comment" method="POST">
                    <div class="col">
                        {{ form_errors(comment_form) }}
                        {{ form_row(comment_form.email) }}
                        {{ form_row(comment_form.notify) }}
                        {{ form_row(comment_form.author) }}
                        {{ form_row(comment_form.captcha) }}
                        {{ form_row(comment_form.comment) }}
                        {{ form_rest(comment_form) }}

                        <input type="submit"/>
                    </div>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}

