{% extends "::base.html.twig" %}
{% block main_title %}Dans Homepage{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" media="all"  href="{{ asset('bundles/acmebasiccms/main.css') }}" />
{% endblock %}
{% block body %}
    <div class="site-center">
        <div class="site-header">
            {% set height = 150 %}
            {% if is_homepage is defined and is_homepage %}
            {% else %}
            {% endif %}
            <div class="cell width4of4" style="overflow: hidden; {% if height is defined %}height: {{ height }}px;{% endif %} background-image: url({{ asset('images/header.jpg') }});">
                <div class="cell">
                    <h1>Dans Homepage</h1>
                    <p>PHP, Javascript, Symfony CMF, etc, etc.
                </div>
            </div>
            <div class="col width-fit mobile-width-fit">
            </div>
            <div class="col width-fill mobile-width-fill">
                <div class="cell">
                    {{ knp_menu_render('main', {'currentClass': 'current', 'template': 'AcmeBasicCmsBundle::knp_menu.html.twig'}) }}
                </div>
            </div>
        </div>
        <div class="site-body">
            <div class="cell">
                <div class="col">
                    <div class="cell">
                        <div class="page-header">
                            {% block title %}This is a page{% endblock %}
                        </div>
                    </div>
                </div>
                <div class="col width-3of4">
                    <div class="col">
                        {% block content %}{% endblock %}
                    </div>
                </div>
                <div class="col width-1of4">
                    <div class="cell tags">
                        <span class="tiny">Tag Cloud</span>
                        {% render(controller('AcmeBasicCmsBundle:Default:tagCloud')) %}
                    </div>
                    <div class="cell tags">
                        <span class="tiny">Recent Posts</span>
                        {% render(controller('AcmeBasicCmsBundle:Default:recentPosts')) %}
                    </div>
                </div>
            </div>
        </div>
        <div class="site-footer">
            <div class="cell">
                <div class="site-center">
                    <div class="cell pipes">
                        {{ knp_menu_render('main', {'currentClass': 'current', 'template': 'AcmeBasicCmsBundle::knp_menu.html.twig'}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

